global:
  scrape_interval:     15s
  evaluation_interval: 15s

rule_files:
  - 'rules.yml'
scrape_configs:
  - job_name: 'prometheus'
    static_configs:
    - targets: ['localhost:9090']

  - job_name: 'cAdvisor'
    scrape_interval: 5s
    static_configs:
    - targets: ['cadvisor:8080']

  - job_name: 'server'
    scrape_interval: 30s
    static_configs:
    - targets: ['server:5000']

  - job_name: 'node'
    ec2_sd_configs:
      - region: us-east-1
        port: 9100
    scrape_interval: 30s
    metrics_path: '/metrics'
    relabel_configs:
      - source_labels: [__meta_ec2_instance_id]
        target_label: instance
      - source_labels: [__meta_ec2_tag_env]
        target_label: environment
      - source_labels: [__meta_ec2_tag_role]
        target_label: role
      - action: labeldrop
        regex: '(__meta_ec2_tag.+)'
      - action: labelmap
        regex: '__meta_ec2_(.+)'